<div class="container after-nav py-5">
  <h1 class="text-center mb-4">Carousel Management</h1>
  <div class="alert alert-info text-center">
    Select 7 articles to display in the carousel.
  </div>
  <div class="row">
    <%= render 'admin/dashboard_sidebar' %>
    <main class="col-md-10 ms-sm-auto px-md-4">
      <%= render 'manage_carousel_body' %>
    </main>
  </div>
</div>
