<h3>Welcome, <%= @user.first_name %>!</h3>
<p>Thank you for signing up for our Beauty Contest! We’re excited to have you onboard.</p>
<p>Your submission will be reviewed and next steps will be communicated shortly.</p>
<p>Stay tuned for updates and best of luck!</p>