<%# <div class="card border-0 d-md-block mb-3 flex-grow-1 text-center bg-light">
  <div class="card-body py-4">
    <h5 class="card-title">Your Ad Here</h5>
    <p class="card-text">Advertise with us and reach your audience effectively!</p>
    <a href="#footer" class="btn btn-primary">Contact Us</a>
  </div>
</div> %>

<div>
  <div class="card text-center shadow-sm mb-2 p-2 hover-scale">
    <a href="https://ridetego.com/" target="_blank">
       <%= image_tag "ads/ridetego2.png", class: "img-fluid rounded", alt: "RideTego Ad" %>
    </a>
  </div>
</div>