<div>
  <div class="card text-center shadow-sm mb-2 p-2 hover-scale">
    <a href="#" target="_blank">
       <%= image_tag "ads/traction.png", class: "img-fluid rounded", alt: "RideTego Ad" %>
    </a>
  </div>
</div>